.msg2f {
  opacity: 1;
  transition: opacity 0.6s; /* 600ms to fade out */
}
.input {
  box-shadow: none !important;
  border-radius: 0px !important;
}
.box {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.design {
  background-image: url('/img/cool-background.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.section {
  background-color: transparent !important;
}
.hero.is-dark {
  background-color: transparent !important;
  background-image: url('/img/overlay.png');
}
#customcode {
  margin-bottom: 3px !important;
}
.copy {
  padding: 9px 8px 9px 12px;
  font-size: 16px;
  background: white;
  height: initial !important;
  margin-right: 0px !important;
}
.url-code-block {
  width: 100%;
  padding: 9px 8px 9px 12px;
  font-size: 16px;
  background-color: #eee;
  border: transparent;
}
.url-code-block::selection {
  background: #fff;
}
.url-code-block::-moz-selection {
  background: #fff;
}
.copied::after {
  position: absolute;
  top: 12%;
  right: 110%;
  display: block;
  content: "copied";
  font-size: 0.75em;
  padding: 2px 3px;
  color: #ffffff;
  background-color: #27ae60;
  border-radius: 3px;
  opacity: 0;
  will-change: opacity, transform;
  animation: showcopied 1.5s ease;
}
@keyframes showcopied {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  70% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
  }
}
.copy-failed::after {
  position: absolute;
  top: 12%;
  right: 110%;
  display: block;
  content: "failed";
  font-size: 0.75em;
  padding: 2px 3px;
  color: #ffffff;
  background-color: #e74c3c;
  border-radius: 3px;
  opacity: 0;
  will-change: opacity, transform;
  animation: showcopyfailed 1.5s ease;
}
@keyframes showcopyfailed {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  70% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
  }
}
.donate {
  text-align: right !important;
}
.donate img {
  margin: 0px 37px 0px 37px;
}

@media screen and (min-width: 1200px) {
  .sbs {
    display: flex !important;
  }
  .SL {
    width: 300px !important;
  }
}
